<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.web.kakatu.kakatureview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- The main/home activity (it has no parent activity) -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- A child of the main activity -->
        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.web.kakatu.kakatureview.MainActivity" />
        </activity>
        <activity
            android:name=".activity.LeaderboardActivity"
            android:label="@string/title_activity_leaderboard"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.web.kakatu.kakatureview.MainActivity" />
        </activity>
        <activity
            android:name=".activity.FavoriteActivity"
            android:label="@string/title_activity_favorite"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.web.kakatu.kakatureview.MainActivity" />
        </activity>
        <activity
            android:name=".activity.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName=".activity.ProfileActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.web.kakatu.kakatureview.activity.ProfileActivity" />
        </activity>
        <activity
            android:name=".activity.ReviewActivity"
            android:label="@string/title_activity_review" />
        <activity android:name=".activity.ForgotPasswordActivity" />
        <activity android:name=".activity.SettingsActivity"></activity>
    </application>

</manifest>